{% extends "layout.html" %}

{% block content %}
    <legend class="border-bottom mb-4">About this website</legend>
<div class="d-flex justify-content-start">
    <h4>Dear visitor,</h4>
</div>

<div class = "text-justify">
    <br>
    <p>I hope you are doing well.</p>
        <br>

        <p>This website was created by me, <a href="https://www.linkedin.com/in/vasileiosts/">Vasileios Tsormpatzoudis</a>, in my endeavour to learn python, apply my skills, and help our world.</p>  
        <br>

        <p>As everything in the world, a story has more than one side. This website aims to show you the full picture and make you aware of the objective truth behind a hashtag.</p> 
        <br>

        <p>Please, be patient with this website as I am currently working on my PhD thesis. </p>
        <p>Thank you for your understanding.</p>
        <br>

        <p>Yours sincerely,</p>
        <p>Vasileios</p>

    
</div>
{% endblock %}
